{% extends 'base.html' %}

{% block heading %}
  Money Control
{% endblock %}

{% block content %}
  <article>
    <h1>Hola, {{ request.user.username }}</h1>
    <div>
      <h2>Available <span>{{ request.user.available_money }}</span></h2>
      <h3>Last transactions</h3>
      <ul>
        {% if last_transactions %}
          {% for transaction in last_transactions %}
            <li>
              <span>{{ transaction.type }}</span>
              <p>Amount: {{ transaction.amount }}</p>
              <p>date: {{ transaction.date }}</p>
            </li>
          {% endfor %}
        {% else %}
          <p>There are any transactions.</p>
        {% endif %}
      </ul>
    </div>
  </article>
{% endblock %}