{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
      Money Control
    {% endblock %}
  </title>
  <link rel="stylesheet" href="{% static 'styles/globals.css' %}">
</head>
<body>
  <header class="main_header">
    <h1>
      {% block heading %}
      {% endblock %}
    </h1>
    <nav class="menu">
      <a href="{% url 'home' %}" class="menu_item">Home</a>
      <a href="{% url 'income_list' %}" class="menu_item">Incomes</a>
      <a href="{% url 'expense_list' %}" class="menu_item">Expenses</a>
      <a href="{% url 'savings' %}" class="menu_item">Savings</a>
      <a href="{% url 'saving_goal_list' %}" class="menu_item">Saving Goals</a>
      <a href="" class="menu_item">Wish List</a>
      <a href="{% url 'logout' %}" class="menu_item">Logout</a>
    </nav>
  </header>
  <main class="main_container">
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>