{% extends 'base.html' %}

{% block title %}
  Metas de ahorro
{% endblock %}

{% block heading %}
  Tus metas de ahorro
{% endblock %}

{% block content %}
  <a href="{% url 'create_saving_goal' %}">Add</a>
  <ul>
    {% for saving in saving_goals %}
      <li>
        <h3>{{ saving.title }}</h3>
        <h4>Current: {{ saving.current_amount }}</h4>
        <h4>Goal: {{ saving.goal }}</h4>
        {% if saving.description %}
          <p>{{ saving.description }}</p>
        {% endif %}
        <p>{{ saving.creation_date }}</p>
        <a href="{% url 'saving_goal_details' saving_goal_id=saving.id %}">ver detalles</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
